In [1]:
import pandas as pd

In [5]:
dt = pd.read_csv('C:\\Users\\johnk\\Google Drive\\Programming\\Dados\\EURUSD_20y.csv').iloc[:,1:6]
dt

,time,EURUSD_Open,EURUSD_High,EURUSD_Low,EURUSD_Close
0,2000-01-03 00:01:00,1.00730,1.00750,1.00730,1.00730
1,2000-01-03 00:02:00,1.00790,1.00790,1.00790,1.00790
2,2000-01-03 00:04:00,1.00780,1.00800,1.00770,1.00800
3,2000-01-03 00:12:00,1.00790,1.00790,1.00790,1.00790
4,2000-01-03 00:13:00,1.00800,1.00800,1.00770,1.00770
...,...,...,...,...,...
7747550,2021-05-21 23:52:00,1.21788,1.21794,1.21787,1.21794
7747551,2021-05-21 23:53:00,1.21794,1.21801,1.21794,1.21798
7747552,2021-05-21 23:54:00,1.21801,1.21808,1.21798,1.21808
7747553,2021-05-21 23:55:00,1.21808,1.21824,1.21807,1.21808
7747554,2021-05-21 23:56:00,1.21809,1.21813,1.21796,1.21803

In [6]:
dt.to_csv('C:\\Users\\johnk\\Google Drive\\Programming\\Dados\\EURUSD_Clean_20y.csv', index=False)